<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="APP_NAME" value="eureka"/>

    <appender name="CONSOLE-JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeMdcKeyName>traceId</includeMdcKeyName>
            <includeMdcKeyName>spanId</includeMdcKeyName>
            <includeMdcKeyName>parentId</includeMdcKeyName>
            <customFields>{"app":"${APP_NAME}"}</customFields>
            <fieldNames>
                <timestamp>ts</timestamp>
                <level>level</level>
                <logger>logger</logger>
                <message>msg</message>
                <thread>thread</thread>
            </fieldNames>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE-JSON"/>
    </root>
</configuration>
