<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rydr.mapper.OrderMapper" >

  <!-- Columns are auto-mapped to camelCase fields (mybatis.configuration.map-underscore-to-camel-case=true) -->
  <select id="selectByPrimaryKey" resultType="com.rydr.entity.Order" parameterType="java.lang.Integer" >
    select *
    from tbl_order
    where id = #{id,jdbcType=INTEGER}
  </select>

</mapper>
